
.navbar.navbar-default{
  z-index: 1000;
  background-color: transparent;
  border: 0;
  position: relative;
  top: 20px;
}


ul.nav.navbar-nav.navbar-right li a{
  color: #FFFFFF;
}

 a.navbar-brand img{
  overflow: auto;
  position:absolute;
  z-index: 1001;
  top: -5px;
}

.navbar-default .navbar-toggle{
border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

body{
  background-color: white;
  background-image: url('/imgs/samplebg.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.col-sm-4.areas{
  height: 300px;
}

div.col-sm-4.areas p{
  text-align: center;
  font-size: 30px;
  font-family:
}

.spacer{
  height: 700px;
  position:relative;
  left:-15px;
  width: calc(100% + 30px);
  z-index: 1000;
}


.services-section{
  background-color: white;
}

.gallery-section{

  background-color: white;

}

.spacer.meetus-section{
  background-color:
}

.inner-grid{
  position:relative;
  left:-20px;
  width: calc(100% + 40px);
  padding: 20px;
  background-color: #E1E3E4 !important;
  z-index:1500;
  padding-top: 200px;
  height: 700px;
}



li{
  list-style: none;
}
